BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
MaxEmptyLinesToKeep: 2
DerivePointerAlignment: false
PointerAlignment: Left

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
  AfterFunction: false
  AfterControlStatement: false

BreakBeforeBraces: Custom
AlignAfterOpenBracket: AlwaysBreak

BracedInitializerIndentWidth: 2
AllowShortEnumsOnASingleLine: true
